@import "iconoir/css/iconoir.css";

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  @apply text-base-content;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.8em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1.2em;
}

*[class^="iconoir-"] {
  display: inline-block;
}
